<style>.parent{display:flex;align-items:center;justify-content:center;}
.container{background-color: #1d057f;width:512px;height:512px;display:flex;align-items:center;justify-content:center;position:relative;}
.moon{background-color: #f7c407;height:130px;width:130px;border-radius:50%;top:60px;right:60px;position:absolute;}
.circle{background-color:#ffd21d;height:320px;width:320px;border-radius:50%;overflow:hidden;position:relative;z-index:1;}
.half-oval{background-color:#f7c407;height:50px;border-radius:25px;}
.small{position:absolute;top:34px;right:195px;width:121px;}
.medium{position:absolute;bottom:36px;right:166px;width:147px;}
.large{position:absolute;top:140px;left:134px;width:190px;}
</style><body><div class="parent"><div class="container"><div class="moon"></div><div class="circle"><div class="half-oval small"></div><div class="half-oval large"></div><div class="half-oval medium"></div>
</div></div></div></body>